.caseCon {
    display: flex;
    gap: 1.5rem;
}

.caseImg {
    height: 25rem;
    margin-top: 12rem;
}

@media screen and (max-width:800px) {
    .caseCon {
        display: flex;
        flex-direction: column;
    }
    .caseImg {
        margin-top: -1rem;
    }
}